{
  "printWidth": 80,
  "trailingComma": "none",
  "tabWidth": 2,
  "semi": false,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "arrowParens": "always",
  "useTabs": false,
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "@store",
    "@prisma",
    "@api",
    "^@components",
    "^@hooks",
    "^@utils",
    "^@icons",
    "^@fonts",
    "^@types",
    "^../(.*)$",
    "^./(.*)$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ]
}
